/* SATO Zone */
.contents{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em 0 2em;
    max-width: 800px;
    width:100%;
    margin: 0 auto;
}

/* 背景色変更 */
body {
    background-color: var(--back-ground-color); /* ←お好きな色に変更 */
}

.works_img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    /* gap: 1.5em; */
}

/* 余白部分が調整できてない */
.works_img img{
    max-width:15em;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 1em 0 1em;
}
.works_img a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.works_img img {
    display: block;
    margin-bottom: 0.5em;  /* 画像とh3の間に余白 */
}
h3{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1.5em;
}

h1{
    font-size: 32px;
    margin: 0 0 1em 0;
    text-align: center;
}


#about p {
    text-align: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1em;
}

/* 共通化できるかも */
a{
    color:black;
    /* text-decoration:none; */
}


/* Kitamura Zone */
/* Kitamura Zone */
.subtitle{
    display:inline-block;
}
#news a{
    text-decoration: none;
    color:black;
    
}
.main_visual img{
    width: 50%;
    height:50%;
    object-fit: cover;   
}
#chinmo{
    transform:scale(-1,1)
}
.main_visual{
    max-width:100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.header_right{
    display:flex;
    justify-content:space-between;
}
.header_right a{
    margin:0 0.5em;
}

@media (max-width: 600px) {
    .works_img {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    .works_img img{
        max-width:none;
    width: 100%;
    }
    header{
        flex-direction:column;
        justify-content:center;    
    }
}