@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: var(--text-color);
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
    background-color: var(--back-ground-color);
    font-size: var(--main-fontsize);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: var(--text-color);
}

/*-------------------------------------------
Nav
-------------------------------------------*/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    background-color: var(--main-color);
    font-size: var(--title-fontsize);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 0 4vw;
}

.navbar a {
    text-decoration: none;
    font-size: var(--main-fontsize);

}

.navbar i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    font-size: var(--title-fontsize);
    color: #fff;
    background-color: gray;
    border-radius: 50%;
}

.navbar .login-button {
    font-size: 1vw;
    color: #fff;
    background-color: white;
    padding: 0.5vw 1vw;
    text-align: center;
    border: solid 1px black;
}

.navbar .nuv-buttons {
    text-align: center;
    display: flex;
    justify-content: end;
    border: solid 1px black;
}

.navbar .add-button {
    font-size: 1vw;
    color: #fff;
    background-color: white;
    padding: 0.5vw 1vw;
    text-align: center;
    justify-content: center;
    border: solid 1px black;
}


#nav-text {
    opacity: 0;
    visibility: visible;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    color: var(--text-color);
    font-size: var(--title-fontsize);
    font-weight: bold;
    margin-left: 0vw;
    width: 60vw;

}



/*-------------------------------------------
Recipe
-------------------------------------------*/
.recipeContainer .menuTitle {
    display: flex;
    margin: 5vw 2vw 40px 2vw;
    gap: 5vw;
    /* justify-content: space-between; */
}

.recipeContainer .menuTitle .image {
    margin-top: 10px;
    width: 30vw;
    height: 500px;
}

.recipeContainer .menuTitle .image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 20px;
}

.recipeContainer .menuTitle .text {
    width: 60vw;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px 2vw 10px 2vw;
}

.recipeContainer .menuTitle .text .title h1 {
    font-size: var(--title-fontsize);
    margin: 10px 0;
}

.recipeContainer .menuTitle .text .author .icon img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
}

.recipeContainer .menuTitle .author {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.recipeContainer .menuTitle .description {
    margin: 20px 0 100px 0;
    ;
}

.recipeContainer .menuTitle .reaction {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 5vw;
    margin-left: 5vw;
}

.recipeContainer .menuTitle .reaction i {
    font-size: 3vw;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 5vw;
}

.recipeContainer .recipe .ingredients {
    width: 30vw;
    background-color: white;
    padding: 0 2vw 10px 2vw;
}

.recipeContainer .recipe .how-to {
    width: 60vw;
    margin-bottom: 100px;
    background-color: white;
    padding: 0 2vw 10px 2vw;
}

.recipeContainer .recipe .content-title {
    border-bottom: solid 1px var(--border-color);
    font-size: 1.25rem;
    padding-bottom: 5px;
    margin: 20px 0 15px 0;
}



.recipeContainer .recipe .ingredient-list {
    display: flex;
    flex-wrap: wrap;
}

.recipeContainer .recipe {
    display: flex;
    margin-bottom: 30px;
    margin: 0 2vw;
    gap: 5vw;
}

.recipeContainer .recipe .ingredients {
    width: 30vw;
}

.recipeContainer .recipe .ingredients .ingredient-list dd {
    font-weight: bold;
}

/*
border-bottom に「dotted」を指定して点線にする
*/
.recipeContainer .recipe .ingredient-list dt {
    width: 60%;
    border-bottom: dotted 1px var(--border-color);
    padding: 6px 0;
}

.recipeContainer .recipe .ingredient-list dd {
    width: 40%;
    border-bottom: dotted 1px var(--border-color);
    padding: 6px 0;
    text-align: right;
}

.recipeContainer .recipe .how-to .step-list .step-row {
    display: flex;
    flex-direction: row;
    object-fit: cover;
    border-radius: 10px;
    justify-content: flex-start;
    gap: 3vw;
    margin: 0 auto 30px auto;
    font-size: var(--main-fontsize);
}

.recipeContainer .recipe .how-to .step-list .step-row .step .circle {
    display: flex;
    background-color: #2b2a27;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 2vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 5px;
}

.recipeContainer .recipe .how-to .step-list .step-row .step img {
    width: 17vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.recipeContainer .recipe .how-to .step-list .step-row .step p {
    width: 17vw;
    height: 7vw;
    color: var(--text-color);
}

/*-------------------------------------------
Footer
-------------------------------------------*/
#footer {
    font-size: 0.75rem;
    padding: 20px;
    text-align: center;
}

/*
リンクはul、liタグで記述
SNSのリンク集という、一つの意味をもったリスト群になるので、ul、liタグでグルーピング
※リストタグを使用しなくても問題ないが、使用した方が検索エンジンに対して
より適切に意味を伝えることができると考えリストタグを選択しています。
*/
#footer .sns {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#footer .sns li {
    margin: 0 10px;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 834px) {

    /*-------------------------------------------
  Nav
  -------------------------------------------*/

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 10vw;
        background-color: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        padding: 0vw 4vw;
    }

    .navbar .login-button {
        font-size: 2vw;
        color: #fff;
        background-color: white;
        padding: 0.5vw 1vw;
        text-align: center;
        border: solid 1px black;
    }

    .navbar i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 5vw;
        font-size: var(--title-fontsize);
        color: #fff;
        background-color: gray;
        border-radius: 50%;
    }


    .navbar .add-button {
        font-size: 2vw;
        color: #fff;
        background-color: white;
        padding: 0.5vw 1vw;
        text-align: center;
        justify-content: center;
        border: solid 1px black;
    }

    #nav-text {
        opacity: 0;
        visibility: visible;
        transition: opacity 0.6s ease, visibility 0.6s ease;
        color: #333;
        font-size: var(--title-fontsize);
        font-weight: bold;
        margin-left: 0vw;
        width: 55vw;

    }

    /*-------------------------------------------
  Menutitle
  -------------------------------------------*/
    .recipeContainer .menuTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5vw 0vw 2.5vw 0vw;
    }

    .recipeContainer .menuTitle .image {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .recipeContainer .menuTitle .image img {
        width: 100%;
        height: 500px;
        vertical-align: bottom;
        border-radius: 0px;
    }

    .recipeContainer .menuTitle .text {
        width: 95%;
        height: 400px;
        vertical-align: bottom;
        margin: 2.5vw 2.5vw 2.5vw 2.5vw;
    }

    .recipeContainer .recipe {
        display: flex;
        flex-direction: column;
        margin: 2.5vw 2.5vw 2.5vw 2.5vw;
    }

    .recipeContainer .recipe .ingredients {
        width: 100%;
    }

    .recipeContainer .recipe .how-to {
        width: 100%;
    }

    .recipeContainer .recipe .how-to .step-list .step-row {
        display: flex;
        flex-direction: column;
        object-fit: cover;
        border-radius: 10px;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .recipeContainer .recipe .how-to .step-list .step-row .step {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-bottom: 10px;
    }

    .recipeContainer .recipe .how-to .step-list .step-row .step img {
        order: 3;
        width: 30%;
        height: 150px;
        margin-top: 5px;
    }

    .recipeContainer .recipe .how-to .step-list .step-row .step p {
        width: 100%;
        height: auto;
        order: 2;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .recipeContainer .recipe .how-to .step-list .step-row .step .circle {
        display: flex;
        background-color: #2b2a27;
        justify-content: center;
        align-items: center;
        color: #fff;
        width: 4vw;
        height: 3.95vw;
        border-radius: 50%;
        margin-bottom: 5px;
    }


}