    @import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

:root {
    --main-color: #4B89DC; /* メインカラー（青） */
    --sub-color: #FB6C6C; /* サブカラー（ピンク） */
    --back-ground-color: rgb(206, 240, 251); /* 薄い青色の背景 */
    --text-color: #333;
    --border-color: #4B89DC;
    --title-fontsize: 32px;
    --main-fontsize: 16px;

    --header-bg-color: #e6e6e6;
    --header-text-color: rgb(0, 0, 0);
    --footer-bg-color: #f0f0f0;
    --footer-text-color: #333;


    --main-fontfamily:'Shippori Mincho B1', serif;
}